/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/
:root {
    display: flex;
    flex-direction: column;
}

body {
    background-color: lavenderblush;
    box-sizing: border-box;
    font-family: 'Raleway';
    line-height: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

section.menu {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-between;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        justify-content: space-around;
        white-space: nowrap;
    }

    .cabecera-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;

        .menu-list {
            display: flex;
            flex-direction: row;
            column-gap: 15px;
        }
    }

    .menu-end {
        display: flex;
        flex-direction: column;

        ul {
            padding: 0;
        }
    }
}

section.title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 40px;

    .profile-picture {
        min-width: 250px;
        width: 250px;
        min-height: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
    }

    h1 {
        font-size: 35px;
        text-align: justify;
    }

    h3 {
        text-align: justify;
    }

    .title__network {
        display: inline-flex;
        gap: 15px;
    }
}

section.about {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    padding: 20px;

    p {
        text-align: justify;
    }

    .firma {
        width: 200px;
        min-width: 200px;
        background-color: transparent;
    }
}

section.skills {
    text-align: center;
    font-size: x-large;

    .skills__box {
        display: inline-flex;
        align-items: center;
        column-gap: 40px;
    }
}

section.hobbies {
    display: flex;
    flex-direction: column;
    font-size: x-large;

    h3 {
        text-align: center;
    }

    .hobbies-line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 10px;
        row-gap: 10px;

        .hobbies__box {
            background-color: white;
            display: inline-flex;
            align-items: center;
            column-gap: 40px;
            width: 300px;
            height: 300px;

            .hobbies__img>img {
                width: 50px;
            }

        }
    }
}

section.academic {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    text-align: center;
    font-size: large;

    h1 {
        text-align: center;
    }

    .academic-courses {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 10px;
        flex-wrap: wrap;

        img {
            width: 300px;
            height: 300px;
        }
    }
}

section.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    .experience-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .experience-img {
            width: 700px;
            height: 300px;
        }

        .experience__info,.experience__info-container{
            max-width: 300px;
        }
    }

    .experience__repo {
        color: aqua;
    }

    .experiencia__botao--repo {
        background: lightblue;
        border: none;
        height: 40px;
        font-size: small;
    }

    .experience__demo {
        background: lightblue;
        border: none;
        height: 40px;
        font-size: small;

    }

    .experience__botao--demo {
        background-color: white;
        color: blue;
        border: blue;
        width: 120px;
        height: 35px;
    }
}

button{
    cursor: pointer;
}
/*Tablet*/
@media (max-width: 768px) {
    section.menu {
        .conditional-display {
            display: none;
        }
    }

    section.title {
        display: flex;
        flex-direction: column;
    }

    section.experience {
        flex-direction: column;

        .experience-img {
            width: 100%;
            max-width: 100%;
        }
    }

    section.formcontato{
        .conditional-display {
            display: none;
        }
    }
    

    .title__profile {
        max-width: 70%;
    }

    .title__div {
        display: block;
    }

}

/*Mobile*/
@media (max-width: 425px) {

    /*Menu*/
    section.menu {
        .conditional-display {
            display: none;
        }
    }

    section.title {
        display: flex;
        flex-direction: column;

    }

    section.formcontato{
        .conditional-display {
            display: none;
        }
    }

    .hobbies__box {
        width: 200px;
        height: 200px;

    }

    /*Titulo*/
    .title__profile {

        max-width: 70%;
    }

    .title__div {
        display: block;
    }


    .title__div {
        display: block;
    }

    /*Formación Académica*/
    .academic__courses {
        flex-direction: column;
    }
}

/*----------------------------------------------------------------------------------e*/

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

a:hover {
    background-color: rgb(210, 137, 228);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


/*Contacto*/

.formcontato {
    background: whitesmoke;
    display: flex;
    justify-content: space-around;

}

.formcontato__contacto {
    display: inline-flex;
    gap: 20px;

}

.formcontato__input {
    border: none;
    height: 40px;
}

.formcontato__input:focus::placeholder {
    color: #2A7AE4;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}

.formcontato__botao {
    background-color: rgb(98, 108, 247);
    color: #F5F5F5;
    border: none;
    border-radius: 10px;
    height: 35px;
}


/*footer*/

section.footer {}