/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/
:root{
    display: flex;
    flex-direction: column;
}

body {
    background-color: lavenderblush;
    box-sizing: border-box;
    font-family: 'Raleway';
    line-height: 1;
}

/* Menu section */
section.menu {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    justify-content: space-around;
    white-space: nowrap;
}

.cabecera-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.menu-list {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

/* Title section */

section.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 80px; */
}

.title-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


/*----------------------------------------------------------------------------------e*/








ol,
ul,
li {
    list-style: none;

}

a {

    text-decoration: none;
    color: var(--cor-de-link);
}

a:hover {
    background-color: rgb(210, 137, 228);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/



section.menu {
    align-items: center;

}

/*Sección Title*/



.title__div {
    display: inline-flex;
    gap: 50px;
}

.title__network {
    display: inline-flex;
    gap: 15px;
}



/*Sección About*/

section.about {
    background: whitesmoke;
    padding: 20px;

}

.firma {
    max-width: 8%;
}

/*Sección skills*/
section.skills {
    text-align: center;
    font-size: x-large
}

.skills__box {
    display: inline-flex;
    align-items: center;
    column-gap: 40px;
}

/*Sección Hobbies*/

section.hobbies {
    text-align: center;
    font-size: x-large;

}

.hobbies__box {
    background-color: white;
    display: inline-flex;
    align-items: center;
    column-gap: 40px;

}

/* Experiencia Académica*/

section.academic {
    padding: 10px;
    background: whitesmoke;
    text-align: center;
    font-size: large;
}

.academic__courses {
    display: inline-flex;
    align-items: center;
    column-gap: 40px;
}

/* experiencia*/

section.experience {
    text-align: center;
}

.experiencie__box {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.experience__box2 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;


}

.experience__box3 {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.experience__img {
    height: 300px;
}

.experience__repo {
    color: aqua;
}

.experiencia__botao--repo {
    background: lightblue;
    border: none;
    height: 40px;
    font-size: small;
}

.experience__demo {
    background: lightblue;
    border: none;
    height: 40px;
    font-size: small;

}

.experience__botao--demo {

    background-color: white;
    color: blue;
    border: blue,
        width: 120px;
    height: 35px;
}

/*Contacto*/

.formcontato {
    background: whitesmoke;
    display: flex;
    justify-content: space-around;

}

.formcontato__contacto {
    display: inline-flex;
    gap: 20px;

}

.formcontato__input {
    border: none;
    height: 40px;
}

.formcontato__input:focus::placeholder {
    color: #2A7AE4;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}

.formcontato__botao {
    background-color: rgb(98, 108, 247);
    color: #F5F5F5;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 35px;
}


/*footer*/

section.footer {}

/*Tablet*/
@media (max-width: 768px) {
    section.title {
        display: flex;
        flex-direction: column;
    }

    .menu-list-item {
        visibility: hidden;
    }

    .title__profile {
        max-width: 70%;
    }

    .title__div {
        display: block;
    }

}

/*Mobile*/
@media (max-width: 425px) {
    section.title {
        display: flex;
        flex-direction: column;
    }

    /*Titulo*/
    .title__profile {

        max-width: 70%;
    }

    .title__div {
        display: block;
    }

    /*Menu*/
    .menu-list-item {

        visibility: hidden;
    }

    .title__div {
        display: block;
    }

    /*Formación Académica*/
    .academic__courses {
        flex-direction: column;
    }
}